# actuator endpoint 配置
management:
  metrics:
    tags:
      application: ${spring.application.name}
  endpoints:
    web:
      exposure:
        include: "*"
    access:
      # 允许所有访问
      default: unrestricted
  # 普罗米修斯 监控开启
  endpoint:
    prometheus:
      # 允许所有访问
      access: unrestricted
    health:
      show-details: always
      probes:
        enabled: true
