HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### custom ###
arthas-output
logs/
${sys:LOG_FILE}
### 以下在测试 爬虫时自动生成，排除一下，/global/global-crawler-boot-starter
node_modules
src/main/java/package.json
src/main/java/package-lock.json
### mac ###
.DS_Store
### custom ai ###
.workbuddy/
.qwen/
.claude/settings.local.json
