# https://blog.csdn.net/xiaoyanhhh/article/details/131977366
## 类型: boolean
## 作用: 为true时, 在生成的代码上添加@lombok.Generated注解
lombok.addLombokGeneratedAnnotation = true
## 类型: enum (lombok.core.configuration.CallSuperType)
## 可选值: [CALL | SKIP | WARN]
## 作用: 生成equals 和 hashCode方法时, callSuper的默认值
lombok.equalsAndHashCode.callSuper=call
